.eventView {
    width: 80vw;
    margin: auto;
    .event-wrapper {
        width: 100%;
        .event-image-wrapper {
            padding: 0;
            height: 500px !important;
            width: inherit;
            padding-bottom: 50px;
            img {
                margin: auto;
                overflow: hidden;
                width: inherit;
                height: inherit;
            }
        }
        .event-details {
            padding: 20px;
            color: white;
            .price-wrapper {
                position: inherit;
                bottom: 0;
                color: white;
                background: #25c97a;
                padding: 4px 15px;
                border-radius: 4px;
                display: inline-block;
                margin-bottom: 24px;
                left: 0;
            }
            .event-small-details {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 1.3rem;
                .detail-item {
                    padding-left: 20px;
                    padding-right: 20px;
                    cursor: pointer;
                    span{
                        padding-left: 5px;
                    }
                }
            }
            .event-description-wrapper {
                color: white;
                // font-size: 14px;
                font-weight: normal;
                // line-height: 28px;
                p{
                    font-size: 16px;
                }
            }
        }
    }
}
@media only screen and (max-width: 500px) {
}
